.card{
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.44);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 4px 5px 6px rgb(173 172 172 / 27%);
  margin: 25px auto;
  padding: 1rem;
}

@media (min-width: 1024px){
  .card{
    width: 50%;
    margin-left: 25%;
  }
}

@media (max-width: 1024px){
  .card{
    width: 66.66666667%;
  }
}
